/** RESET **/

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* COLORS */

:root {
  /* PRIMARY */

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* NEUTRAL */

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--cream);
  font-weight: 500;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 23.438rem;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  /* Image wasn't showing the border-radius so hiding the overflow here  */
  overflow: hidden;
  /* some margin to the element so that it doesn't touch the screen on smaller devices. */
  margin: 0 10px;
}

.c-product-card {
  display: grid;
  grid-template-rows: 1fr auto;
}

.product-image {
  max-width: 100%;
  height: auto;
}
.ribbon-text {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: hsl(228.27, 15.87%, 48.04%);
}
.c-product-card__text-half {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-description {
  margin-top: 16px;
  margin-bottom: 24px;
}

.product-name {
  font-family: "Fraunces", serif;
  margin-top: 12px;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(215.14, 22.4%, 13.92%);
}

.product-description {
  font-size: 0.87rem;
  color: #6c7289;
  line-height: 1.4;
}

.product-prices {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-prices span {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  color: var(--dark-cyan);
}

.product-prices s {
  font-size: 0.81rem;
  line-height: 1.4;
  color: #6c7289;
}

.CTA {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 15px 0;
  margin-top: 30px;
  background-color: var(--dark-cyan);
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
}

.CTA-text {
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--white);
}

/** MAIN  **/

@media (min-width: 40rem) {
  .container {
    max-width: 37.5rem;
  }

  .c-product-card {
    grid-template-columns: 1fr 1fr;
  }

  .c-product-card__text-half {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .CTA:hover {
    background: #1a4032;
  }
}
